@model List<AcunMedyaPortfolioProject.Models.Education>

@{
    ViewBag.Title = "Eğitim Sayfası";
}

<h2>Education</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Başlık</th>
                <th>Kurum Adı</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Açıklama</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var education in Model)
            {
                <tr>
                    <td>@education.Id</td>
                    <td>@education.Title</td>
                    <td>@education.InstutionName</td>
                    <td>@education.StartDate</td>
                    <td>@education.EndTime</td>
                    <td>@education.Description</td>

                    <td><a href="/Education/UpdateEducation/@education.Id" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Education/DeleteEducation/@education.Id" class="btn btn-danger">Kaldır</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Education/CreateEducation" class="btn btn-primary">Yeni Eğitim Bilgisi Ekle</a>

</div>