@model AcunMedyaPortfolioProject.Models.Education

@{
    ViewBag.Title = "UpdateEducation";
}

<h2>Eğitim Bilgisini Güncelleme</h2>

<div class="container">
    <form method="post">
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Kurum Adı</label>
        @Html.TextBoxFor(x => x.InstutionName, new { @class = "form-control" })
        <br />
        <label>Başlangıç Tarihi</label>
        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" })
        <br />
        <label>Bitiş Tarihi</label>
        @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <button class="btn btn-info ">Eğitim Bilgisini Kaydet</button>
    </form>

</div>